# ref: https://fabianlee.org/2017/05/21/golang-running-a-go-binary-as-a-systemd-service-on-ubuntu-16-04/
[Unit]
Description=GitHub Actions Host Controller
After=network.target

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

# Env Vars
Environment=NATS_USERNAME=admin
Environment=NATS_PASSWORD=***
Environment=GITHUB_TOKEN=***

WorkingDirectory=/root
ExecStart=/usr/local/bin/gh-ci-webhook hostctl  --machine-id=* --nats-addr=this-is-nats.appscode.ninja:4222 --provider=firecracker --firecracker.binary-path=/root/firecracker --firecracker.os=focal --firecracker.image-dir=/root/images

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/gh-ci-hostctl
ExecStartPre=/bin/chown syslog:adm /var/log/gh-ci-hostctl
ExecStartPre=/bin/chmod 755 /var/log/gh-ci-hostctl
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gh-ci-hostctl

[Install]
WantedBy=multi-user.target
